@page
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h1>Hello ChisoftMedia from the HEADER OF A RAZOR PAGE!</h1>

<h2>@Configuration["Message"]</h2>

<h3>@Configuration["Email"]</h3>